@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/home/thual/Documents/INFORMATIQUE/Portfolio/assets/low-poly-grid-haikei.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #3B4252;
    color: #E5E9F0;
}

p {
    font-size: xx-large;
    text-align: justify;
}

/* -------------------- */

nav {
    height: 70px;
    padding: 10px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #2E3440;
}

nav .profile {
    display: flex;
    align-items: center;
}

nav .profile img {
    width: 50px;
    height: 50px;
}

nav .profile h1 {
    margin-left: 10px;
    font-size: 30px;
}

nav .nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

nav .nav-links a {
    text-decoration: none;
    margin-left: 40px;
    color: #E5E9F0;
    border-bottom: 1px solid #2E3440;
    font-size: 20px;
    cursor: pointer;
}

nav .nav-links a:hover {
    border-bottom: 1px solid #E5E9F0;
}

nav .nav-links #current {
    color: #BF616A;
}

nav .nav-links #current:hover {
    border-bottom: 1px solid #BF616A;
}

/* -------------------- */

.page-content {
    margin: 0 20%;
}

.page-content .presentation h1 {
    padding: 20px 0 10px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    text-align: center;
}

.page-content .presentation img {
    display: block;
    width: 50%;
    margin: 10px auto;
    border-radius: 30px;
}

.page-content .presentation p {
    margin: 20px 0;

}

/* -------------------- */

@media screen and (max-width: 1300px) {
    nav {
        padding: 10px 20px;
    }
}


@media screen and (max-width: 1055px) {
    
    p {
        font-size: larger;
    }

    nav {
        flex-direction: column;
        height: 100%;
        padding-bottom: 20px;
    }

    nav .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    nav .nav-links a {
        margin: 20px 0 0 0;
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {

    nav .profile h1 {
        font-size: 20px;
    }

}